/* Resetting default margins, paddings, and setting font size */
* {
    margin: 0;
    padding: 0;

    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
}
 /* Styling for the main container */

.main-container {
    /* Set background image */
    width: 100%;
   background-image: url('Home.png');
    background-position: center;
    background-size: cover;
    height: 100vh;
    padding: 30px;
}
/* Styling for the main container's heading */
.main-container h1{
    text-align: center;
    font-family:'Times New Roman', Times, serif;
    font-weight: 600;
    color: #d1d1cf;
    margin-bottom: 50px;
}
/* Styling the container */
.container {
    width:90%;
    max-width: 400px;
    margin:auto;
    border: solid #242423(128, 128, 128, 0.261) 2px;
    padding: 30px;
    background-color:white;
  
}

/* Adjustments for the form and field within the container */
form {
    margin-top: 20px;
}
/* Styling for the field */
.field
{
  position: relative;
}

/* Styling for labels */
label {
    font-weight: 600;
    margin-top: 30px;
}

/* Styling for input and select elements */
input, select {
    width: 100%;
    padding: 12px 20px;
    margin-bottom: 20px;
    margin-top: 10px;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

/* Styling for informational tooltips */
.info {
    margin: 2px;
    font-size: smaller;
    color: #242423(128, 128, 128, 0.693);

}

/* Styling for error messages */
.error {
    display: none;
    position: absolute;
    right: 5%;
    top: 50%;
    color: #242423(128, 128, 128, 0.693);
}

/* Styling for submit button */
#calculateButton {
    width: 100%;
    background-color: #242423;
    color: white;
    padding: 14px 20px;
    margin: 30px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* Hover effect for submit button */
#calculateButton:hover {
    background-color:#44423b;
}
/* Styling for empty field error */
#errorField{
    color:red;
    text-align: center;
}

/* Styling for the informational tooltip icon */
.quesmark-info{
    background-color: #242423;
    
    width: 120px;
    padding: 8px 10px;
    color: #fff;
    border-radius: 5px;
    font-size: 12px;
}

.quesmark-info-wrapper i{
    position: relative;
    z-index: 1000px;
    cursor: pointer;
    color: #242423(128, 128, 128, 0.693);
    font-size: smaller;
}

.quesmark-info-wrapper i .quesmark-info{
    position: absolute;
    left: -8px;
    top: -10px;
    transform: translate(0, -100%);
    display: none;
}

.quesmark-info-wrapper i:hover .quesmark-info{
    display: block;
}

.quesmark-info-wrapper i .quesmark-info .arrow-down {
  width: 0; 
  height: 0; 
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 7px solid #242423;
  position: absolute;
  bottom: 1px;
  left: 10px;
  transform: translate(0, 100%);
}

/* Styling for informational tooltips on hover */
.info:hover::after {
    content:attr(title);
    position: absolute;
    max-width: 100px;
    background-color:  #242423;
    color: white; 
    padding: 8px 10px;
    white-space: wrap;
    border-radius: 4px; 
    font-size: 14px; 
    bottom: calc(100% + 5px); 
    right:20px;
    transform: translateX(-50%); 
    opacity: 0; 
    transition: opacity 0.3s ease; 
}

.info:hover::after {
    opacity: 1; 
}

.info:hover::before{
    content: " ";
    position: absolute;
    width: 15px;
    height: 10px;
    top:-10px;
    right:180px;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    background-color: #242423;

}


/* Styling for error messages on hover */
.error:hover::after {
    content: "Please enter number only";
    position: absolute;
    background-color:  #242423; 
    color: white; 
    padding: 8px 10px; 
    white-space: nowrap;
    border-radius: 4px; 
    font-size: 14px;
    bottom: calc(100% + 5px); 
    left:80px;
    transform: translateX(-50%); 
    opacity: 0; 
    transition: opacity 0.3s ease;
}
.error:hover::before{
    content: " ";
    position: absolute;
    width: 10px;
    height: 10px;
    top:-10px;
    left: 10px;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
    background-color: #242423;

}


.error:hover::after {
    opacity: 1; /* Show tooltip on hover */
}
/* Styling for popup */
.popup {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #242423(0, 0, 0, 0.5);
    z-index: 999;
    width: 90%; /* Adjusted for responsiveness */
    max-width: 550px; /* Added maximum width for larger screens */
    height: 80vh;
    padding: 30px;
    background-color: #9c9997;
    border: solid #242423(128, 128, 128, 0.261) 2px
}
.popup h1,p{
    color:#fff;

}
.popup #taxValue{
    color:#242423;
    margin: 10px 0;
    font-size: 24px;
    font-weight: 600;

}


/* Styling for popup content */
.popup-content {
    text-align: center;
    margin-top: 80px;
}
.buttons{
    margin-top: 100px;
    display: flex;
    flex-direction:row;
    justify-content: space-around;
}
/* Styling for close button in popup */
.close,.detailsButton{
    
    width:100px;
    background-color: #242423;
    color: white;
    padding: 10px 10px;
     border: none;
     text-align: center;
    border-radius: 4px;
    font-weight: 600;
    cursor: pointer;
}
button:hover {
    background-color:#44423b;
}
/* Styling for details content */

#details{
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #242423(0, 0, 0, 0.5);
    z-index: 999;
    width: 90%; /* Adjusted for responsiveness */
    max-width: 550px; /* Added maximum width for larger screens */
    padding: 30px;
    background-color: #fff;
    border: solid #242423(128, 128, 128, 0.261) 2px;
    height: 60vh;
}

#details h1{
    color: black;
    text-align: center;
    padding: 20px;
}
  /* styling table  */
table {
    border-collapse: collapse;
    width: 90%;
    margin:-50px auto;
    
   
 
}

table, th, td {
    border: 1px solid black;
      
}

th, td {
    padding: 5px;
    text-align: left;
}

th {
    background-color: #f2f2f2;
}
tr:nth-child(even) {
    background-color:#4e4f50;
  }

  /* style the exit button */
.exit{
    position:fixed;
    width:20px;
    right:0;
    bottom: 0;
    color:#fff;
    background-color:  #242423;
    border: solid  #242423;
}








